*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
#about{
    scroll-behavior: smooth;
}
#contact{
    scroll-behavior: smooth;
}
#gallery{
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: montserrant;
    margin: 0;
    font-family: Arial, sans-serif;
}
nav{
    height: 85px;
    width: 100%;
    background: #34495e;
    position: fixed;
    overflow: auto;
    border-radius: 10px;
    width: 100%;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul{
    float: right;
    margin-right: 40px;
   
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
}
@media (max-width: 382px){
    nav #icon{
        color: white;
        font-size: 15px;
        
    }

}
@media (max-width: 947px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 15px;
    
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}
.backgroundimage {
    background-image:linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),url("image12.jpg");
    width: 100vw;
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.backgroundimage h1{
    color: white;
    margin-top: 0;
    font-size: 1.9em; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
}
.backgroundimage p {
    font-size: 1.2em; /* Adjust as needed */
    color: white;
    margin-top: 20px;
}
section {
    padding: 15px 20px;
    margin: 1px 150px;
    
    color: #222831;
  
}
.back{
    height: 60px;
    width: 85px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 11px;
}


.container1{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container1 img{
    width: 14%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px;
    transition: all ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container1 img:hover{
    width: 25%;
}
.offer{
    color: #38598b;
    text-align: center;
  
}

