@media screen and (max-width: 835px){

}
@media screen and (max-width: 600px){

}
@media screen and (max-width: 500px){
#myName{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.navbar-nav .nav-item {
    font-size: 1rem;
}
.logo{
    border-radius: 5rem;
    height: 3rem;
    width: 3rem;
}
.welcome-text {
    width: 80%;  /* Reduce width to 80% of the screen */
    font-size: 1.5rem;  /* Reduce font size for smaller screens */
    margin: 2rem auto;  /* Center the element vertically */
    line-height: 1.4;  /* Adjust line height for better readability */
}
}