body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container1{
    padding: 3rem;
    margin-top: 6rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 25rem;
    width: 25rem;
    background-color: #EEF0F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
.form-container2{
    padding: 3rem;
    margin-top: 6rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 29rem;
    width: 25rem;
    background-color: #EEF0F6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
.form-control{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
    margin-bottom: 2rem;
    background-color: #FFFAFE;
    width: 100%;
}
label{
    font-weight: bold;
    font-size: 0.9rem;
}
.registration-form{
    text-decoration: none;
}
.myAccount{
    margin-top: 2rem;
    text-align: center;
}
